# Auto detect text files and perform LF normalization
* text=auto

# Archive split volumes (1000M/1500M chunks)
*.7z filter=lfs diff=lfs merge=lfs -text
*.7z.* filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.0* filter=lfs diff=lfs merge=lfs -text

# Raw Memory Dumps & Binaries
*.dmp filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text